// Font weights
$extra-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

$serif: Merriweather, Georgia, serif;

h1, %h1 {
  font-size: 2rem;
  font-family: $serif;
  font-weight: $regular;
  margin-bottom: 2rem;
}

h2, %h2 {
  font-size: 1rem;
}

h3, %h3 {
  font-size: 1.5rem;
}

h4, %h4 {
  font-size: 1.25rem;
}

h5, %h5 {
  font-size: 0.75rem;
}

p, .p {
  font-size: 1rem;
}

strong {
  font-weight: $medium;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 1.75rem;
  }

  h4, %h4 {
    font-size: 1.5rem;
  }
}
