@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';


.title {
  margin: 6rem auto 3rem;
  border-bottom: 1px $transparent solid;
  padding-bottom: .5rem;
  width: 27rem;
  @extend .transition;
  &:focus, &:empty {
    outline: 0;
    border-bottom: 1px $light-gray solid;
    @extend .transition;
  }
}

.title[placeholder]:empty:before {
    content: attr(placeholder);
    color: $light-gray;
    text-align: center;
    cursor: text;
    @extend .transition;
}


// SEARCH

.search-wrapper {
  position: relative;
  margin: 0 auto;
  @extend .transition;
  width: 27rem;
  cursor: pointer;
  &:before {
    content:url('/img/icon-search.svg');
    padding: 1rem;
    background: $lighter-gray;
    position: absolute;
    width: 2rem;
    left: 50%;
    margin-left: -2rem;
    top: -1.25rem;
    transition: all 1s ease;
  }
}

.search-wrapper-open {
  &:before {
    transform: scale(0);
  }
}

.search-box {
  border-radius: 1px;
  outline: 0;
  color: $gray;
  background: $lighter-gray;
  font-family: $serif;
  font-size: .75rem;
  height: 0;
  padding: 0;
  border: 1px solid $light-gray;
  width: 100%;
  text-align: center;
  @extend .transition;
  &::placeholder {
    @extend .transition;
    color: $light-gray;
    opacity: 0;
  }
}

.search-box-open {
  height: 3rem;
  transform: translateY(-1.5rem);
  &::placeholder {
    opacity: 1;
  }
}


// BOOK

.book-grid {
  margin: 2rem auto 8rem;
  @include clearfix;
}

.book-grid-item {
  border-radius: 2px;
  float: left;
  width: 15rem;
  margin: .5rem .5rem;
  padding: 2rem 2rem 1.5rem;
  box-sizing: border-box;
  @extend .transition;
  &:hover {
    background: $white;
    .book-cover {
      transform: scale(1);
    }
  }
}

.book-cover {
  @extend .transition;
  transform: scale(.909090909);
  width: 11rem;
  height: 16.5rem;
  margin: 0 auto;
  border-radius: 1px;
  display: block;
}

.book-title {
  font-family: $serif;
  font-style: italic;
  margin: 1rem -.5rem .5rem;
}

.book-byline {
  @extend .transition;
  font-size: .75rem;
  color: $medium-gray;
}

.book-byline-by {
  color: $light-gray;
}
