{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">

<h1 class="title" contenteditable="true" placeholder="Name your collection...">Startup Shell Library</h1>

<div class="input-wrapper">
  <input class="input-box" type="text" placeholder="Search...">
</div>

<ul class="book-grid">

  {{#each books}}
  <a target="_blank" href="{{ this.url }}">
    <li class="book-grid-item">
      <img class="book-cover" src="{{ this.img }}">
      <h2 class="book-title">{{ this.title }}</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>{{ this.author }}</p>
    </li>
  </a>
  {{/each}}

</ul>

<div class="input-wrapper">
  <input class="input-box" type="text" placeholder="Add Book...">
</div>

<footer>
  <p>&copy; Bookhouse</p>
  <a href="#"><div class="button">Create Collection</div></a>
  <p>by Jeff and Jackson</p>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/script.js"></script>

</div>

{{/content}}
{{/extend}}
