{{#extend "base"}}
{{#content "main" mode="prepend"}}


<h1 class="title">Startup Shell Library</h1>

<div class="search-wrapper">
  <input class="search-box" type="text" placeholder="Search...">
</div>

<ul class="book-grid">

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>

  <a href="http://amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/0812993012" target="_blank">
    <li class="book-grid-item">
      <img class="book-cover" src="/img/books/creativity-inc.jpg">
      <h2 class="book-title">Creativity, Inc.</h2>
      <p class="book-byline"><span class="book-byline-by">by </span>Ed Catmull</p>
    </li>
  </a>


</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/script.js"></script>

{{/content}}
{{/extend}}
